/* Reset y estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ea580c;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* Menu Icon */
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

/* Logo */
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    background: linear-gradient(270deg, #df8988 10%, #823902 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Navbar Links */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent; /* Invisible por defecto */
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color); /* Subrayado visible en hover */
}

/* Botón Gradiente */
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #df8988 10%, #ff1d15 100%);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}
section {
    min-height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 
        0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 25px var(--main-color),
        0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 
        0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.about-content h2 {
    font-size: 4rem;
    text-align: left;
}

.about-content p {
    font-size: 1.8rem;
}

.about-content .btn {
    margin: 3rem 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.services {
    background-color: var(--bg-color);
    color: black;
    /*padding: 5rem 10%;*/
}

.services h2 {
    color: var(--text-color);
    /*text-align: center
    font-size: 5rem;
    margin-bottom: 3rem;*/
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas fijas */
    align-items: center;
    gap: 2rem; /* Espaciado entre tarjetas */
    justify-content: center; /* Centrar las tarjetas */
    padding: 0 5%; /* Margen interno para mantener bordes */
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 400px; /* Reducimos la altura */
    width: 100%; /* Ajusta para adaptarse al tamaño de la columna */
    border-radius: 2rem; /* Ajustamos el radio */
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.4s ease-in-out;
    text-align: center; /* Centrar texto */
}

.service-box:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 3px solid var(--main-color);
    transform: scale(1.03);
}

.service-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Ajustamos el padding interno */
}

.service-info h4 {
    font-size: 3rem; /* Reducimos el tamaño de fuente */
    margin: 1.5rem 0;
    font-weight: 700;
}

.service-info p {
    font-size: 1.2rem; /* Reducimos el tamaño de fuente */
    font-weight: 500;
    line-height: 1.5;
}

.service-info i {
    font-size: 6rem; /* Reducimos el tamaño del ícono */
    margin-bottom: 1rem;
}

.projects{
    background-color: var(--second-bg-color);
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.project-card:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}

.project-card img {
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}

.project-card h3 {
    font-size: 3rem;
}

.project-card p {
    font-size: 1.6rem;
}
.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}

.footer .social-icons {
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media (max-width: 1285px) {
    #menu-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      right: 0;
      width: 50%;
      padding: 1rem 3rem;
      background: rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: 2rem;
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
      display: none;
    }
  
    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      color: var(--text-color);
    }
  
    .navbar.active {
      display: block;
    }
  
    .gradient-btn {
      display: none;
    }
  
    .home {
      flex-direction: column-reverse;
      margin: 5rem 0;
      gap: 5rem;
    }
  
    .home-content {
      align-items: center;
      text-align: center;
    }
  
    .home-img img {
      width: 56vw;
    }
  
    .about {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    .about h2 {
      text-align: center;
      margin: 2rem 0;
    }
  
    .about img {
      width: 52vw;
    }
  
    .contact form {
      flex-direction: column;
    }
  };

/* Estilos para la sección de Habilidades */
.habilidades {
    background-color: var(--bg-color);
    padding: 10rem 15%;
    text-align: center;
}

.habilidades .heading {
    font-size: 7rem;
    margin-bottom: 5rem;
    color: var(--text-color);
    letter-spacing: 2px; /* Espaciado entre letras */
}

.habilidades-lista {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.habilidad-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color); /* Fondo oscuro */
    border: 2px solid var(--main-color); /* Borde naranja */
    border-radius: 3rem; /* Bordes redondeados */
    padding: 5rem 2rem; /* Espaciado interno */
    overflow: hidden;
    cursor: text;
    box-shadow: 0 0 10px var(--main-color); /* Sombra suave por defecto */
    transition: all 0.3s ease-in-out; /* Transición suave para todos los efectos */
}

.habilidad-item:hover {
    box-shadow: 0 0 25px var(--main-color), /* Sombra más intensa */
                0 0 50px var(--main-color); /* Sombra aún más intensa */
    transform: scale(1.02); /* Efecto de escala */
    border-color: var(--main-color); /* Asegurar que el borde sea naranja */
}

.habilidad-item i {
    font-size: 4rem;
    margin-right: 2rem;
    color: var(--main-color);
}

.habilidad-info h4 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; /* Más espacio debajo del título */
    color: var(--text-color);
    letter-spacing: 1px; /* Espaciado entre letras */
}

.habilidad-detalles {
    list-style-type: disc; /* Puntos de lista */
    padding-left: 2rem; /* Espaciado para la lista */
}

.habilidad-detalles li {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.8; /* Más espacio entre líneas */
    margin-bottom: 1rem; /* Más espacio entre elementos de la lista */
    letter-spacing: 0.5px; /* Espaciado entre letras */
}


/* Estilos para el enlace dentro de la tarjeta de servicios */
.service-link {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto */
    display: block; /* Hace que el enlace ocupe todo el espacio de la tarjeta */
    height: 100%; /* Asegura que el enlace cubra toda la altura de la tarjeta */
}

.service-link:hover {
    text-decoration: none; /* Asegura que no haya subrayado al pasar el mouse */
}

/* Estilos para el Carrusel */

.carrusel-container {
    position: relative;
    max-width: 1000px; /* Ajusta el ancho del contenedor */
    margin: 0 auto;
    padding: 20px; /* Espaciado interno */
    overflow: hidden; /* Oculta los elementos que no están activos */
    border: none; /* Asegurarnos de que no haya bordes en el contenedor */
}

.carrusel {
    display: flex;
    gap: 18px; /* Aumenta el espacio entre las tarjetas */
    transition: transform 0.5s ease-in-out; /* Transición suave */
}

.carrusel-item {
    flex: 0 0 100%; /* Cada tarjeta ocupa el 100% del ancho del contenedor */
    box-sizing: border-box;
    padding: 0rem; /* Espaciado interno */
    background-color: var(--bg-color); /* Fondo oscuro */
    border-radius: 2rem; /* Bordes redondeados */
    box-shadow: inset 0 0 10px var(--main-color), 0 0 15px var(--main-color); /* Sombra más suave */
    transition: all 0.3s ease-in-out; /* Transición suave */
    text-align: center; /* Centrar el texto */
    margin: 0; /* Eliminar cualquier margen adicional */
    border: none; /* Eliminar cualquier borde exterior */
    cursor: text;
}

/* Eliminar el borde exterior del último elemento */
.carrusel-item:last-child {
    border-right: none; /* Elimina el borde derecho del último elemento */
}

.carrusel-item:hover {
    box-shadow: inset 0 0 15px var(--main-color), 0 0 25px var(--main-color); /* Sombra más intensa al pasar el mouse */
}

.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: var(--main-color); /* Color de las flechas */
    border: none; /* Asegurarnos de que no haya bordes en los botones */
    padding: 1rem; /* Reducir el padding de los botones */
    cursor: pointer;
    font-size: 2rem; /* Reducir el tamaño de la fuente */
    z-index: 10;
    border-radius: 50%;
    width: 40px; /* Reducir el tamaño de los botones */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.carrusel-btn.anterior {
    left: 10px; /* Posición del botón anterior */
}

.carrusel-btn.siguiente {
    right: 10px; /* Posición del botón siguiente */
}

.carrusel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al pasar el mouse */
    transform: translateY(-50%) scale(1.1); /* Efecto de escala al pasar el mouse */
}



/* Estilos para las listas dentro de la sección de Habilidades */
.habilidad-detalles {
    list-style-type: disc; /* Puntos de lista */
    padding-left: 2rem; /* Espaciado para la lista */
}

.habilidad-detalles li {
    font-size: 1.8rem; /* Tamaño de fuente más grande */
    color: var(--text-color); /* Color del texto (blanco o el definido en --text-color) */
    line-height: 1.8; /* Espaciado entre líneas */
    margin-bottom: 1rem; /* Espaciado entre elementos de la lista */
}

.habilidad-detalles li::marker {
    color: var(--main-color); /* Color naranja para los puntos de la lista */
}

/* Botón en sección de habilidades */
/* Estilos para el contenedor del botón */
.btn-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 2rem; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para el botón */
.btn-container .btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-container .btn:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 25px var(--main-color),
        0 0 50px var(--main-color);
}



/* Estilos para la sección de Proyectos */
.proyecto {
    padding: 10rem 15%;
    background: var(--second-bg-color);
    margin-top: 6rem;
}

.proyecto h2 {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.proyecto h3 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-top: 2rem;
}

.proyecto ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 1rem;
}

.proyecto ul li {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.proyecto p {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.8;
    margin-top: 1rem;
}

.proyecto pre {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    margin-top: 1rem;
}

.proyecto code {
    font-family: "Courier New", monospace;
    color: #d4d4d4;
}

.proyecto img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}